<!DOCTYPE html>
<html>
<head>
	<title>N71</title>
	<!-- Source code is kept open for the learners... -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="google-signin-client_id" content="567112201060-i34emibvl8p17rrgh1trctlgvn8n2o19.apps.googleusercontent.com"/>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
   <link rel="stylesheet" type="text/css" href="/student/css/semantic.css"/>

  

</head>


<style>
body{
	/*background-repeat: no-repeat;*/
	background-size: cover;
	/* background-color: #eee; */
	/*background-image:url('/img/a.png');*/
	width:100%;
	height:100%;
	margin-left: auto;
	margin-right:auto;
}
/*div{
	width:100%;
}*/

@font-face {
  font-family: myFirstFont;
  src: url(fonts/tammudu.ttf);
}

@font-face {
  font-family: merienda;
  src: url(fonts/merienda.ttf);
}



.logo{
	width:50%;
	margin-right:auto;
	margin-left: auto;

}

.logoi{
	width:20vw;
	margin-right:auto;
	margin-left: auto;

}

.font-merianda{
	font-family: merienda;
}

.font-tam{
	font-family: myFirstFont;
}

.Iam {
  width:100%;
  background-color:#444;
  display:block;
  padding: 0;
  font: normal 40px/50px sans-serif;
  color: #999;
}
.Iam p {
  height: 50px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 50px;
  top: 40px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e14;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;


/*animation*/
-webkit-animation:move 10s;
   -moz-animation:move 10s;
    -ms-animation:move 10s;
     -o-animation:move 10s;
        animation:move 10s;
/*animation-iteration-count*/
-webkit-animation-iteration-count:infinite;
   -moz-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
     -o-animation-iteration-count:infinite;
        animation-iteration-count:infinite;
/*animation-delay*/
-webkit-animation-delay:1s;
   -moz-animation-delay:1s;
    -ms-animation-delay:1s;
     -o-animation-delay:1s;
        animation-delay:1s;
}
@keyframes move{
0%  { top: 0px; }
20% { top: -50px; }
40% { top: -100px; }
60% { top: -150px; }
80% { top: -200px; }
}

@-webkit-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-moz-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@-o-keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}
@keyframes move {
    0%  { top: 0px; }
    20% { top: -50px; }
    40% { top: -100px; }
    60% { top: -150px; }
    80% { top: -200px; }
}

a{
	text-decoration: none;
}

.dp{
	width:20%;
}

.term{
	width: 50%;
	padding-top:2em;
	background-size: cover;
	background-color: #fff;
	height:100vh;
	/*background-image:url('/img/a.png');*/
	margin-left: auto;
	margin-right:auto;
}


</style>


<body>

<div class="term">
	<div class="w3-center w3-margin w3-text-blue" style="font-size: 200%;;">	
		<!-- <img class="logoi" src="/img/logo.png" > -->
    DRAWPAD
	</div>

  <div class="w3-center"> 
    <button class="ui right labeled blue icon w3-button  w3-round w3-border" onclick="window.location='/directories'">
  
  View you own private Directories
</button>
  </div>

	<div class="w3-center w3-text-gray w3-margin">	
		
		<img class="logo w3-circle dp" src="<%= imageUrl %>" >
    <p>WELCOME<br> <%= name %></p>
	</div>


	
   <div class="w3-center w3-text-cyan "> 
    <button class="ui right labeled blue icon  w3-button  w3-round w3-border" onclick="createRoom();">
  <i class="right arrow icon"></i>
  CREATE
</button>
  </div>

  <!-- <hr class="w3-margin"> -->


  <!-- <div class="w3-center w3-text-cyan ">  
    <div class="ui action input">
      <input type="text" placeholder="Room ID" id="room_id">
      <button class="ui button" onclick="location.href='room/'+document.getElementById('room_id').value;">Join</button>
    </div>
  </div> -->

  

  
</div>

<script>
  function createRoom(){
    console.log("creating room");
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === 4){
          var result=this.responseText;
          try {
                var jsobj=JSON.parse(result);
                if(jsobj.status=="success")
                {
                  console.log(jsobj);
                  window.location='/room/'+jsobj.room_id.toString()+"/"+jsobj.file_id.toString();
                }
                else
                {
                  alert("creating room failed");
                }
              }
              catch(err) {
                alert("something went wrong");
                console.log(err);
              }
            
        }
    };
    xhr.open('GET', '/create_room');
    xhr.send();
  }
</script>


</body>
</html>

